@import '../../styles/em-calc';
@import "../../styles/layout.variables";

.mat-toolbar-single-row.footer {
    height: em(64);
    background-color: #ffffff;
}

footer .mat-toolbar {
    border-top: em(1) solid #d1d1d1;
    color: #939393;
    font-size: em(16);
}

.footer-content {
    max-width: em(map-get($layout, max-width));
}

.contacts {
    a {
        display: flex;
        color: #aaaaaa;
    }
}
