<footer>
  <mat-toolbar class="footer">
    <div fxLayout="row" fxFlex fxLayoutAlign="space-around">
      <div fxLayout="column" fxFlex class="footer-content">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxHide.xs="true">
            <span>Copyright &copy; 2018 Daria Khil</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="contacts">
            <span [routerLink]="'/about'">
              <mat-icon svgIcon="mail" matRipple></mat-icon>
            </span>
            <a target="_blank" rel="noopener noreferrer" href="{{instagram}}">
              <mat-icon svgIcon="instagram" matRipple></mat-icon>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="{{skype}}">
              <mat-icon svgIcon="skype" matRipple></mat-icon>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="{{behance}}">
              <mat-icon svgIcon="behance" matRipple></mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>