@import "../../styles/em-calc";
@import "../../styles/layout.variables";

.mat-toolbar-single-row.footer {
    height: em(64);
    background-color: #ffffff;
}

footer .mat-toolbar {
    border-top: em(1) solid #d1d1d1;
    color: #939393;
    font-size: em(16);
}

.footer-content {
    max-width: em(map-get($layout, max-width));
}

.contacts {
    a {
        display: flex;
        color: #aaaaaa;
        margin-left: em(24);
    }
    span {
        display: flex;
        user-select: none;
        outline: 0;
        cursor: pointer;
    }
}

mat-icon.mat-icon {
    &:hover {
        &[svgicon="skype"] {
            color: #00aff0;
        }
        &[svgicon="behance"] {
            color: #4176fa;
        }
        &[svgicon="mail"] {
            color: #9703ed;
        }
        &[svgicon="instagram"] {
            color: #ed0098;
        }
    }
}
