<mat-card fxLayout="row" fxLayout.lt-sm="column" fxFlex="nogrow" fxLayoutAlign="center center">
  <video fxFlex="0 0 auto" autoplay loop muted playsinline>
    <source src="/assets/videos/app/about.mp4" type="video/mp4" aria-hidden="true">
  </video>
  <div fxFlex="0 0 auto" class="image-right-margin" fxHide.lt-sm fxShow></div>
  <div fxFlex="0 0 auto" class="image-bottom-margin" fxShow.lt-sm fxHide></div>
  <mat-card-content fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="start">
    <mat-card-title fxFlex="1 1 auto">Hello!</mat-card-title>
    <mat-divider fxFlex="1 1 auto"></mat-divider>
    <mat-card-subtitle fxFlex="1 1 auto">
      <p>
        I am a constantly-drawing artist, who is very passionate about her work and
        loves creating new worlds, characters and stories about them.
      </p>
      <p>
        For me, the most exciting thing about art is an ability to tell any idea and story
        in an accessible and beautiful way in order to bring it to people.
      </p>
      <p>
        I have been studying art since I was 10 and working in this field for 6 years.
        During this time I've participated in a couple of game projects as a concept
        artist and illustrator, created animated videos, illustrated some published
        books, websites and other interesting stuff.
      </p>
      <p>
        In my spare time, I love looking for inspiration in animated movies, cartoons,
        video games and nature.
      </p>
      <p>
        I'm looking forward to joining new creative teams and exciting projects!
        So, feel free to contact me for any work inquiries or just to say hi at
        hundred.dots@gmail.com
      </p>
    </mat-card-subtitle>
    <button mat-stroked-button fxFlex="1 1 auto">View Resume</button>
  </mat-card-content>
</mat-card>