@import "../../../styles/em-calc";

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::ng-deep iframe {
    height: 100%;
    width: 100%;
}
