@import "~@angular/material/theming";
@import "../../styles/em-calc";

.container {
    margin: em(-16);
}

mat-card {
    width: em(358) !important;
    height: em(458) !important;
    max-width: em(358);
    padding: 0 !important;
    margin: em(16);
    cursor: pointer;

    &:hover {
        @include mat-elevation-transition;
        @include mat-elevation(10);
    }
}

.mat-card-content {
    padding: em(20) em(24) !important;
    margin-bottom: em(4) !important;
}

.mat-card-image {
    width: 100% !important;
    margin: 0 !important;
}

.divider {
    display: block;
    height: em(1);
    background-color: #e5e5e5;
    margin-bottom: em(10);
}

.mat-card-subtitle {
    text-align: justify;
}
