.mat-dialog-container {
    padding: 2px;
    position: relative;
}

.ng-star-inserted {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;    
    padding-top: 16px;
    text-align: center;    
}

.scrollable-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    min-height: 0;
    padding: 0 16px;
}

.image-card {
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
}

.close {
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
}

.close .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.close .mat-mini-fab.mat-accent {
    background-color: #b9b9b945;
    color: lightgray;
}

.image-content {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-content .mat-progress-spinner {
    position: absolute;
}

.image-content .mat-spinner circle {
    stroke: #b7b7b7b7;
}