<section class="app" fxLayout="column" fxLayoutAlign="start stratch" fullscreen>
  <header class="header">
    <mat-toolbar>
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around">
        <div fxLayout="column" fxFlex class="header-content">
          <span>Daria Khil</span>
        </div>
      </div>
    </mat-toolbar>
  </header>
  <div class="docs-primary-header">
    <h1>Portfolio</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex class="main-content">
      <pfo-gallery></pfo-gallery>
    </div>
  </div>

  <footer>
    <mat-toolbar class="footer">
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around">
        <div fxLayout="column" fxFlex class="footer-content">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <span>Copyright &copy; 2018 Daria Khil</span>
            </div>
            <div>
              <span>hundred.dots@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </footer>
</section>