@import "../../styles/em-calc";
@import "../../styles/icon-button";

.space-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-button-back {
    left: 0;
}

.icon-button-next {
    right: 0;
}
