<div class="space-holder" #container>
  <pfo-image-view *ngIf="!projectItem.video"></pfo-image-view>
  <pfo-video-view *ngIf="projectItem.video"></pfo-video-view>
  <div *ngIf="prev !== null" class="icon-button icon-button-back" (click)="openProjectItem(prev)" matRipple>
    <mat-icon svgIcon="arrow_back"></mat-icon>
  </div>
  <div *ngIf="next !== null" class="icon-button icon-button-next" (click)="openProjectItem(next)" matRipple>
    <mat-icon svgIcon="arrow_forward"></mat-icon>
  </div>
</div>