@import "../../styles/em-calc";

.space-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

$button-size: 64;
$button-padding: 8;
$icon-size: $button-size - $button-padding * 2;

.nav-button {
    width: em($button-size);
    height: em($button-size);
    border-radius: em($button-size / 2);
    background-color: rgba($color: #000000, $alpha: 0.05);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.nav-button-back {
    left: 0;
}

.nav-button-next {
    right: 0;
}

mat-icon.mat-icon {
    width: em($icon-size);
    height: em($icon-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba($color: white, $alpha: 0.7);
}
