@import '../../styles/em-calc';

.section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;    
    padding-top: em(16);
    text-align: center;    
}

.scrollable-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    min-height: 0;
    padding: 0 em(16);
}

.image-card {
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.image-content {
    justify-content: center;
    align-items: center;
    padding: em(20);
}