@import "../../styles/em-calc";
@import "../../styles/icon-button-play";

$image-margin: 8;

.space-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: em(-$image-margin);
}

.container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img {
    margin: em($image-margin);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.image {
    position: relative;
}
