@import "~@angular/material/theming";
@import "styles/resolution";
@import "styles/em-calc";

@font-face {
    font-family: "Linotte-Light";
    src: url("/assets/fonts/Linotte Light.otf");
}

$custom-typography: mat-typography-config(
    $font-family: "Linotte-Light"
);
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-amber);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

body {
    margin: 0;
    background-color: #f2f2f2;
    cursor: default;
    font-family: "Linotte-Light";
}

p {
    display: block;
    margin-block-start: em(12);
    margin-block-end: em(12);
    margin-inline-start: 0;
    margin-inline-end: 0;
}

[hidden] {
    display: none !important;
}

:focus, :active {
    outline: none;
}

.mat-card {
    border: em(1) solid #e5e5e5;
    border-radius: em(6) !important;
    background-color: #ffffff;
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

mat-card-content .mat-card-title {
    font-size: em(24);
    color: #a5a5a5;
}

.mat-card-content {
    color: #939393;
    font-size: em(14);
}

.mat-card-subtitle {
    color: #b2b2b2;
    font-size: em(18);
    line-height: em(24);
}

.mat-button,
.mat-stroked-button {
    font-size: em(18);
    color: #b2b2b2;
    padding: 0 em(16) !important;
    line-height: em(40) !important;
    border-radius: em(6) !important;

    &:hover {
        .mat-button-focus-overlay {
            opacity: 0 !important;
        }
        border-color: #8b85dd;
    }
}

mat-icon.mat-icon {
    height: em(32);
    width: em(32);
    line-height: em(32);
    border-radius: em(16);
}

.mat-form-field-wrapper {
    padding-bottom: em(16);
}

.mat-form-field-appearance-outline {
    .mat-form-field-outline {
        color: #e5e5e5;
        top: 0 !important;
    }

    .mat-form-field-outline-thick {
        color: #8b85dd;
    }

    &.mat-focused {
        .mat-form-field-outline-thick {
            color: #8b85dd;
        }
    }

    &.mat-form-field-invalid.mat-form-field-invalid {
        .mat-form-field-outline-thick {
            color: #dd8585;
        }
    }

    .mat-form-field-outline-start {
        border-width: em(1) !important;
        border-radius: em(6) 0 0 em(6) !important;
    }
    .mat-form-field-outline-end {
        border-width: em(1) !important;
        border-radius: 0 em(6) em(6) 0 !important;
    }
    .mat-form-field-outline-gap {
        border-width: em(1) !important;
    }

    .mat-form-field-infix {
        padding: em(14) 0;
        border-top: none;
    }
}

.mat-input-element {
    caret-color: #939393 !important;
}

.alert {
    color: #dd8585;
}

snack-bar-container.mat-snack-bar-container {
    border-radius: em(6);
    margin: em(24) auto;
    min-width: 33vw;
    max-width: 90vw;
    padding: em(14) em(16);
    min-height: em(48);
    color: #ffffff;
    background-color: #5f5f5fdc;
}

.mat-snack-bar-handset snack-bar-container.mat-snack-bar-container {
    width: auto;
    max-width: 90vw;
    margin: em(24) auto;
}
