@import "../../../styles/em-calc";
@import "../../../styles/layout.variables";

.app {
    min-height: 100vh;
}

section {
    min-height: 100%;
}

pfo-main {
    align-self: center;
    width: 100%;
    max-width: em(map-get($layout, max-width));
}
