.app {
    min-height: 100vh;
}

section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

pfo-header,
pfo-footer {
    flex-direction: column;
    flex-shrink: 0;
}

pfo-main {
    flex-direction: column;
    flex-grow: 1;
}
