@import "../../../styles/em-calc";
@import "../../../styles/layout.variables";

.app {
    min-height: 100vh;
}

section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

pfo-header,
pfo-footer {
    flex-direction: column;
    flex-shrink: 0;
}

pfo-main {
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    max-width: em(map-get($layout, max-width));
}
