<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ItemsFilePath" value="../src/app/shared/gallery-items/preview-items.ts"/>
        <add key ="ImagesFolderPath" value="../src/assets/images"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
