<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PortfolioFilePath" value="../src/app/shared/gallery/portfolio.ts"/>
        <add key ="ImagesFolderPath" value="../src/assets/images/portfolio"/>
		<add key="IdsFilePath" value="../src/app/shared/gallery/ids.json"/>
        <add key="RemoveOrphanImages" value="false"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
