<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<add key="PortfolioFilePath" value="../src/app/shared/gallery/portfolio.ts"/>
        <add key ="ImagesFolderPath" value="../src/assets/images/portfolio"/>
	<add key="IdsFilePath" value="../src/app/shared/gallery/ids.json"/>
    <add key="TinifyCompressionsLimit" value="500" />
    <!-- karabalat, unreco9nized -->
    <add key="TinifyApiKeys" value="JScPCxrysT9jRqlS6gfdTFqJKPF8Z7Xp, bGR70TPwvHT63bwzy7tQnYHFXpP9nWPp" />
    <add key="PreviewImageMaxWidth" value="720" />
    <add key="PreviewImageMaxHeight" value="480" />
    <add key="ImageMaxWidth" value="1440" />
    <add key="ImageMaxHeight" value="960" />
    <add key="OptimizeImagesOnStartup" value="true" />
    <add key="RemoveOrphanImages" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
